@page
@model IndexModel
@{
    ViewData["Title"] = "ai | algorithm | awesome";
    ViewData["HeaderFull"] = "";
}


@* <div class="absolute top-200 bg-gray-100 w-1/2 h-2/5 z-10 opacity-50">
    <span>Hello1</span>
</div> *@


<div class="relative overflow-hidden flex flex-col">
    
    
    
    <div class="float-left overflow-hidden w-full sm:m-4">
        <div class="xl:w-1/2 float-left">
            <div class="text-gray-50"><span class="hidden sm:inline">Visit our github:</span><a class="text-blue-300 hover:underline" target="_blank" href="https://github.com/copenhagen-ai"> Awesome.AI Source</a>.</div>
            <div class="text-gray-50"><span class="hidden sm:inline">Goto our forum:</span><a class="text-blue-300 hover:underline" target="_blank" href="https://forum.copenhagen-ai.net"> Copenhagen-ai Forum</a>.</div>
            <div class="i-filler-20"></div>
        </div>
        <div class="xl:w-1/2 overflow-hidden mx-0 sm:mx-4 ">
            <div class="hidden xl:block w-200 float-left w-1/2">
                <h1 class="roomHeader text-gray-50 text-3xl sm:text-5xl font-bold">Roberta</h1>
            </div>
            <div class="bg-orange-500 p-2 rounded-md w-[75px] sm:w-[120px] float-right my-2 sm:my-0 mr-0 sm:mr-4 xl:mr-8">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="jjacobsen@copenhagen-ai.net" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="amount" value="0" class="pay_amount" />
                    <input class="w-[60px] sm:w-[100px]" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img class="" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
    </div>

    <div class="overflow-hidden w-full md:w-full sm:m-4 text-left ">
        <div class="xl:hidden w-1/2 sm:w-[200px] float-left">
            <h1 class="roomHeader text-gray-50 text-3xl sm:text-5xl font-bold">Roberta</h1>            
        </div>
    </div>
</div>

@* <div class="viewersDiv text-gray-50 ml-4 float-left hidden sm:block">viewers: 0</div> *@
<div class="overflow-hidden xflex xflex-col-reverse xsm:flex-row-reverse">
    <div class="viewersDiv text-gray-50 sm:px-4 xfloat-left xsm:hidden">viewers: 0</div>
    <div class="mechDiv text-gray-50 sm:px-4 xfloat-left xsm:hidden">mech: hill</div>
    <div class="overflow-hidden sm:px-4 xw-[230px]">
        <a id="r2" class="text-gray-50 float-left sm:float-right mr-4 hover:underline cursor-pointer" onclick="room2();">Andrew</a>
        <a id="r1" class="text-gray-50 float-left sm:float-right mr-4 hover:underline cursor-pointer" onclick="room1();">[Roberta]</a>

        <span id="joinButton" class="cursor-pointer mr-4 i-color-orange float-right" title="This will start the app and let it run for about 5 minutes">join</span>
        <span id="" class="cursor-pointer mr-10 i-color-orange float-right">   </span>
        <span id="hideSpan" class="cursor-pointer mr-4 i-color-green float-right">view</span>
        <span id="" class="cursor-pointer mr-10 i-color-green float-right">   </span>
        <span id="saveSpan" class="cursor-pointer mr-4 i-color-green float-right">save</span>
        <span id="" class="cursor-pointer mr-4 i-color-green float-right">   </span>
    </div>

</div>
@* <div class="viewersDiv text-gray-50 ml-4 float-right overflow-hidden lg:hidden">viewers: 0</div> *@

<div class="overflow-hidden grid grid-cols-1 lg:grid-cols-3">
    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="">
                <div class="text-gray-50">STATS</div>
                <div class="i-filler-20"></div>
                <hr class=""/>
                <div class="i-filler-20"></div>
            </div>
        </div>
        @* <div class="xrow xp-1">
            <div class="xcol-6">
                <span class="text-gray-50">epochs:</span>
                <span class="text-gray-400" id="epochsSpan">xxxx</span>
            </div>
        </div> *@

        Core:<br />
        <div class="">
            <div class="">
                <span class="text-gray-50">epochs remaining:</span>
                <span class="text-gray-400" id="epochsremainingSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">cycles: </span>
                <span class="text-gray-400" id="cyclesSpan">xxxx</span>
                <span class="text-gray-50">cycles total: </span>
                <span class="text-gray-400" id="totalSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">ratio yes: </span>
                <span class="text-gray-400" id="ratioYesSpan">xxxx</span>
                <span class="text-gray-50">ratio no: </span>
                <span class="text-gray-400" id="ratioNoSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">momentum:</span>
                <span class="text-gray-400" id="momentumSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">position:</span>
                <span class="text-gray-400" id="positionSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">pain:</span>
                <span class="text-gray-400" id="painSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">THE CHOICE:</span>
                <span class="text-gray-400" id="theChoiceSpan">xxxx</span>
            </div>
        </div>

        <br />
        Systems:<br />
        <div class="">
            <div class="">
                <span class="text-gray-50">occupation:</span>
                <span class="text-gray-400" id="occuSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50" id="locationSpan1">location:</span>
                <span class="text-gray-400" id="locationSpan2">xxxx</span>                
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50" id="stateSpan1">state:</span>
                <span class="text-gray-400" id="stateSpan2">xxxx</span>
            </div>
        </div>
        <br />

        @* <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">bias:</div>
                <div id="biasDiv">xxxx</div>
            </div>
        </div>
        <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">limit:</div>
                <div id="limitDiv">xxxx</div>
            </div>
        </div>
        <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">limit avg:</div>
                <div id="limAvgDiv">xxxx</div>
            </div>
        </div> *@
        
    </div>

    
    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="xcol-6">
                <div class="text-gray-400" id="messageDiv">inner monologue.. (press view)</div>
                <div class="i-filler-20"></div>
                <hr class="" />
                <div class="i-filler-20"></div>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <span class="i-color-green">Point A:</span>
                <span class="text-gray-400" id="dot1Span">xxxx</span>
                <br/>
                <span class="i-color-orange">Point B:</span>
                <span class="text-gray-400" id="dot2Span">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <div class="i-filler-20"></div>
                <div class="text-gray-50">Subject:</div>
                <div class="text-gray-400" id="subjectDiv">xxxx</div>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <div class="i-filler-20"></div>
                <div class="text-gray-50">Saved Monologue:</div>
                <div class="text-gray-400" id="saveDiv">xxxx</div>
            </div>
        </div>
        @* <div class="position-absolute bottom-25 xrow xp-1">
            <div class="xcol-6 xtext-start">
                <input type="button" id="joinButton" value="Join" />
            </div>
        </div> *@
    </div>

    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="">
                <div class="text-gray-400" id="chatTitle">CHAT:</div>
                <div class="i-filler-20"></div>
                <hr class="" />
                <div class="i-filler-20"></div>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="chatRes text-white bg-neutral-800 h-box2 py-4">
                    >> some text<br />
                </div>
                <div class="i-filler-20"></div>
                <div class="grid grid-cols-3 gap-4">
                    <input class="chatTxt col-span-2 bg-neutral-800 text-white p-4" type="text" placeholder=">> ask me" />
                    <input class="chatBtn col-start-3 bg-orange-500 text-black p-4 rounded-sm" type="submit" value="submit"/>
                </div>
            </div>
        </div>
        

        @* <div class="position-absolute bottom-25 xrow xp-1">
            <div class="xcol-6 xtext-start">
                <input type="button" id="joinButton" value="Join" />
            </div>
        </div> *@
    </div>
</div>

@* <div>
    <span class="sortSpan cursor-pointer text-gray-50 ml-4">sort force</span>
</div> *@

<div class="">
    <span id="" class="p-2 md:mx-4 my-4 text-gray-50 float-left">sort: </span>
    <span id="chartSpan" class="cursor-pointer p-2 md:mx-4 my-4 bg-neutral-900 text-gray-50 float-left">index</span>
</div>
<div class="i-filler-60"></div>
<div class="chart1 bg-neutral-900 border border-neutral-950 p-4 md:mx-4 my-4">
    <canvas id="myChart1" class="w-full max-w-[900px] "></canvas>
</div>
<div class="chart2 bg-neutral-900 border border-neutral-950 p-4 md:mx-4 my-4 hidden ">
    <canvas id="myChart2" class="w-full max-w-[900px]"></canvas>
</div>

<div class="i-filler-40"></div>