@page
@model IndexModel
@{
    ViewData["Title"] = "agent | ai | algorithm | awesome";
    ViewData["HeaderFull"] = "";
}


@* <div class="absolute top-200 bg-gray-100 w-1/2 h-2/5 z-10 opacity-50">
    <span>Hello1</span>
</div> *@


<div class="relative xoverflow-hidden flex flex-col">
    
    
    @* <div id="overlay2" class="mt-8 w-80 h-24 bg-neutral-600 z-10 md:left-1/2 absolute hidden rounded-md z-10"><div class="i-filler-40"></div><p class="text-gray-50 text-center">Starting app..</p></div> *@
    <div class="float-left overflow-hidden w-full sm:m-4">
        <div class="xl:w-1/2 float-left">
            <div class="text-gray-50"><span class="hidden sm:inline">Visit our github:</span><a class="text-blue-300 hover:underline" target="_blank" href="https://github.com/copenhagen-ai"> Awesome.AI Source</a>.</div>
            <div class="text-gray-50"><span class="hidden sm:inline">Goto our forum:</span><a class="text-blue-300 hover:underline" target="_blank" href="https://copenhagen-ai.freeforums.net"> Copenhagen-ai Forum</a>.</div>
            <div class="i-filler-20"></div>
        </div>
        <div class="xl:w-1/2 overflow-hidden mx-0 sm:mx-4 ">
            
            <div class="bg-orange-500 p-2 rounded-md w-[75px] sm:w-[120px] float-right my-2 sm:my-0 mr-0 sm:mr-4 xl:mr-8">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="group@copenhagen-ai.net" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="amount" value="0" class="pay_amount" />
                    <input class="w-[60px] sm:w-[100px]" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img class="" alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
    </div>    
</div>

<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="lg:col-span-2">
        <h5 class="text-gray-50 md:px-4">INTRODUCTION</h5>
        <div class="text-gray-50 md:px-4">
            This is a showcase for the Awesome.AI algorithm. It is a highly autonomous agent, capable of controlling other AI systems. Its still a work in progress, so therefore not the final version. <a class="text-blue-300 hover:underline" href="/Docs">[read more]</a>
            <div class="filler-60"></div >
            
        </div>
    </div>
    
</div>

<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="hidden xl:block overflow-hidden ">
        <div class="text-gray-50 md:px-4"></div>
        <div class="viewersDiv text-gray-50 md:px-4">viewers today: 0</div>
        <div class="text-gray-50 md:px-4">logic: <span>classic</span></div>
        <div class="text-gray-50 md:px-4">mech: <span class="mechSpan">ballonhill</span></div>
        <div class="overflow-hidden md:px-4">
            <a id="xr2" class="r2 text-gray-50 float-left sm:float-right mr-4 hover:underline cursor-pointer" >Andrew</a>
            <a id="xr1" class="r1 text-gray-50 float-left sm:float-right mr-4 hover:underline cursor-pointer" >[Roberta]</a>
        </div>
    </div>
    <div class="hidden xl:block px-4">
        @* <h1 class="roomHeader text-gray-50 text-3xl sm:text-5xl font-bold">Roberta</h1> *@
    </div>
    <div class="hidden xl:block relative ">
        <div class="absolute w-full bottom-0 px-4">
        <span id="" class="text-gray-50">press 'join' to start..</span>
        <span id="joinButtonID" class="joinButton cursor-pointer xmr-4 text-green-500 float-right" title="This will start the app and let it run for about 5 minutes">join</span>
        <span id="" class="cursor-pointer mr-10 float-right">   </span>
        <span id="" class="hideSpan cursor-pointer mr-4 text-yellow-500 float-right">view</span>
        <span id="" class="cursor-pointer mr-10 float-right">   </span>
        <span id="" class="saveSpan cursor-pointer mr-4 text-yellow-500 float-right">save</span>
        <span id="" class="cursor-pointer mr-4 float-right">   </span>
        </div>
    </div>    
    <div class="xl:hidden w-full">
        <div class="text-gray-50 md:px-4">press 'join' to start..</div><br />
        <div class="text-gray-50 md:px-4"></div>
        <div class="viewersDiv text-gray-50 md:px-4">viewers today: 0</div>
        <div class="text-gray-50 md:px-4">logic: <span>classic</span></div>
        <div class="text-gray-50 md:px-4">mech: <span class="mechSpan">ballonhill</span></div>
        <div class="overflow-hidden md:px-4">
            <a id="xr2" class="r2 text-gray-50 float-left mr-4 hover:underline cursor-pointer">Andrew</a>
            <a id="xr1" class="r1 text-gray-50 float-left mr-4 hover:underline cursor-pointer">[Roberta]</a>
    

            <span id="" class="joinButton cursor-pointer mr-4 text-green-500 float-right" title="This will start the app and let it run for about 5 minutes">join</span>
            @* <span id="" class="cursor-pointer mr-10 i-color-orange float-right">   </span> *@
            <span id="" class="hideSpan cursor-pointer mr-4 text-yellow-500 float-right">view</span>
            @* <span id="" class="cursor-pointer mr-10 i-color-green float-right">   </span> *@
            <span id="" class="saveSpan cursor-pointer mr-4 text-yellow-500 float-right">save</span>
            @* <span id="" class="cursor-pointer mr-4 i-color-green float-right">   </span> *@
        </div>
    </div>
</div>

@* <div class="viewersDiv text-gray-50 ml-4 float-right overflow-hidden lg:hidden">viewers: 0</div> *@

<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="">
                <div class="text-gray-50">STATS<span class="serverrunning servrun text-red-500 float-right">1]</span><span class="servrun text-red-500 float-right">[server running: </span></div>
                <div class="i-filler-20"></div>
                <hr class=""/>
                <div class="i-filler-20"></div>
            </div>
        </div>
        @* <div class="xrow xp-1">
            <div class="xcol-6">
                <span class="text-gray-50">epochs:</span>
                <span class="text-gray-400" id="epochsSpan">xxxx</span>
            </div>
        </div> *@

        Core:<br />
        <div class="">
            <div class="">
                <span class="text-gray-50">epochs remaining:</span>
                <span class="text-gray-400" id="epochsremainingSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">cycles: </span>
                <span class="text-gray-400" id="cyclesSpan">xxxx</span>
                <span class="text-gray-50">cycles total: </span>
                <span class="text-gray-400" id="totalSpan">xxxx</span>
            </div>
        </div>
        - - - - - - - - - - - - - - - 
        <div class="">
            <div class="">
                <span class="text-gray-50">noise: yes </span>
                <span class="text-gray-400" id="noiseYesSpan">xxxx</span>
                <span class="text-gray-50"> no </span>
                <span class="text-gray-400" id="noiseNoSpan">xxxx</span>
            </div>
        </div>
        - - - - - - - - - - - - - - -
        @* <div class="">
            <div class="">
                <span class="text-gray-50">ratio: yes </span>
                <span class="text-gray-400" id="ratioYesSpan">xxxx</span>
                <span class="text-gray-50"> no </span>
                <span class="text-gray-400" id="ratioNoSpan">xxxx</span>
            </div>
        </div> *@
        <div class="">
            <div class="">
                <span class="text-gray-50">momentum:</span>
                <span class="text-gray-400" id="momentumSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">delta momentum:</span>
                <span class="text-gray-400" id="dmomentumSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">position (x axis):</span>
                <span class="text-gray-400" id="positionSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">dependent (pain):</span>
                <span class="text-gray-400" id="painSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50">DOWN:</span>
                <span class="text-gray-400" id="theDownSpan">xxxx</span>
            </div>
        </div>

        @* <br />
        Systems:<br />
        <div class="">
            <div class="">
                <span class="text-gray-50">occupation:</span>
                <span class="text-gray-400" id="occuSpan">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50" id="locationSpan1">location:</span>
                <span class="text-gray-400" id="locationSpan2">xxxx</span>                
            </div>
        </div>
        <div class="">
            <div class="">
                <span class="text-gray-50" id="stateSpan1">state:</span>
                <span class="text-gray-400" id="stateSpan2">xxxx</span>
            </div>
        </div> *@
        <br />

        @* <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">bias:</div>
                <div id="biasDiv">xxxx</div>
            </div>
        </div>
        <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">limit:</div>
                <div id="limitDiv">xxxx</div>
            </div>
        </div>
        <div class="xrow xp-1">
            <div class="xcol-6">
                <div class="text-gray-50">limit avg:</div>
                <div id="limAvgDiv">xxxx</div>
            </div>
        </div> *@
        
    </div>

    
    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="xcol-6">
                <div class="text-gray-50">MONOLOGUE</div>
                <div class="i-filler-20"></div>
                <hr class="" />
                <div class="i-filler-20"></div>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <div class="text-gray-400" id="messageDiv">inner monologue.. (press view)</div>
                <div class="i-filler-20"></div>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <span class="text-green-500">Point A:</span>
                <span class="text-gray-400" id="dot1Span">xxxx</span>
                <br />
                <span class="text-yellow-500">Point B:</span>
                <span class="text-gray-400" id="dot2Span">xxxx</span>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <div class="i-filler-20"></div>
                <div class="text-gray-50">Subject:</div>
                <div class="text-gray-400" id="subjectDiv">xxxx</div>
            </div>
        </div>
        <div class="">
            <div class="xcol-6">
                <div class="i-filler-20"></div>
                <div class="text-gray-50">Saved Monologue:</div>
                <div class="text-gray-400" id="saveDiv">xxxx</div>
            </div>
        </div>
        <br />
        @* <div class="position-absolute bottom-25 xrow xp-1">
            <div class="xcol-6 xtext-start">
                <input type="button" id="joinButton" value="Join" />
            </div>
        </div> *@
    </div>

    <div class="">
        <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
            <div class="">
                <div class="">
                    <div class="text-gray-50">MOOD<span class="moodinfo text-blue-300 hover:underline hover:cursor-pointer float-right">[info]</span></div>
                    <div class="i-filler-20"></div>
                    <hr class="" />
                    <div class="i-filler-20"></div>
                </div>
            </div>

            <div class="">
                <div class="">
                    <span class="text-gray-50">current mood:</span>
                    <span class="text-gray-400" id="moodSpan">xxxx</span>
                </div>
            </div>
            <br />
            <div class="mychartmood1 bg-neutral-900 border border-neutral-950 xxmd:h-box1 p-4 ">
                <canvas id="chartmood1" class="w-full max-w-[900px] "></canvas>
            </div>
            <div class="mychartmood2 bg-neutral-900 border border-neutral-950 xxmd:h-box1 p-4 hidden">
                <canvas id="chartmood2" class="w-full max-w-[900px]"></canvas>
            </div>
            <br />
        </div>
    </div>
</div>

@* <div>
    <span class="sortSpan cursor-pointer text-gray-50 ml-4">sort force</span>
</div> *@


<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="">
        <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
            <div class="">
                <div class="">
                    <div class="text-gray-50">DECISIONS</div>
                    <div class="i-filler-20"></div>
                    <hr class="" />
                    <div class="i-filler-20"></div>
                </div>
            </div>
            @* <div class="xrow xp-1">
                <div class="xcol-6">
                    <span class="text-gray-50">epochs:</span>
                    <span class="text-gray-400" id="epochsSpan">xxxx</span>
                </div>
            </div> *@

            Quick:<br />
            <div class="">
                <div class="">
                    <span class="text-gray-50">whistling:</span>
                    <span class="text-gray-400" id="quickSpan">xxxx</span>
                </div>
            </div>

            <br />
            Long:<br />
            <div class="">
                <div class="">
                    <span class="text-gray-50">occupation:</span>
                    <span class="text-gray-400" id="occuSpan">xxxx</span>
                </div>
            </div>
            <div class="">
                <div class="">
                    <span class="text-gray-50" id="locationSpan1">location:</span>
                    <span class="text-gray-400" id="locationSpan2">xxxx</span>
                </div>
            </div>
            <div class="">
                <div class="">
                    <span class="text-gray-50" id="stateSpan1">state:</span>
                    <span class="text-gray-400" id="stateSpan2">xxxx</span>
                </div>
            </div>
            <br />
        </div>
    </div>

    <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
        <div class="">
            <div class="">
                <div class="text-gray-50" id="chatTitle">CHAT<span class="chatinfo text-blue-300 hover:underline hover:cursor-pointer float-right">[info]</span></div>
                <div class="i-filler-20"></div>
                <hr class="" />
                <div class="i-filler-20"></div>
            </div>
        </div>
        <div class="">
            <div class="">
                <div class="chatRes text-white bg-neutral-800 p-4 md:p-0 md:h-box2">
                    >> some text<br />
                </div>
                <div class="i-filler-20"></div>
                <div class="grid grid-cols-3 gap-4">
                    <input class="chatTxt col-span-2 bg-neutral-800 text-white p-4" type="text" placeholder=">> ask me" />
                    <input class="chatBtn col-start-3 hover:cursor-pointer rounded-xl border-4 border-neutral-600 bg-neutral-800 text-white p-4 rounded-sm" type="submit" value="submit"/>
                </div>
            </div>
        </div>


        @* <div class="position-absolute bottom-25 xrow xp-1">
            <div class="xcol-6 xtext-start">
                <input type="button" id="joinButton" value="Join" />
            </div>
        </div> *@
    </div>
</div>

<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="hidden md:block">
        <span id="" class="p-2 md:mx-4 my-4 text-gray-50 float-left">sort: </span>
        <span id="chartSpan" class="cursor-pointer p-2 md:mx-4 my-4 bg-neutral-900 text-gray-50 float-left">index</span>
    </div>    
</div>

<div class="overflow-hidden grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    <div class="xl:col-span-2">
        <div class="chart1 bg-neutral-900 border border-neutral-950 md:h-box1 p-4 md:mx-4 my-4">
            <div class="">
                <div class="">
                    <div class="text-gray-50">DIAGRAM</div>
                    <div class="i-filler-20"></div>
                    <hr class="" />
                    <div class="i-filler-20"></div>
                </div>
            </div>
            <canvas id="myChart1" class="w-full max-w-[700px] "></canvas>
        </div>
        <div class="chart2 bg-neutral-900 border border-neutral-950 md:h-box1 p-4 md:mx-4 my-4 hidden ">
            <div class="">
                <div class="">
                    <div class="text-gray-50">DIAGRAM</div>
                    <div class="i-filler-20"></div>
                    <hr class="" />
                    <div class="i-filler-20"></div>
                </div>
            </div>
            <canvas id="myChart2" class="w-full max-w-[700px]"></canvas>
        </div>
    </div>

    <div class="">
        <div class="bg-neutral-900 border border-neutral-950 text-neutral-600 overflow-hidden md:h-box1 p-4 md:mx-4 my-4">
            <div class="">
                <div class="">
                    <div class="text-gray-50">NOTES</div>
                    <div class="i-filler-20"></div>
                    <hr class="" />
                    <div class="i-filler-20"></div>
                </div>
            </div>
            
            note 1:<br />
            <div class="">
                <span class="text-gray-400">The sections are not interconnected, only to the STATS window, this is easily accomplished if needed.</span>
            </div>
            <br />
            note 2:<br />
            <div class="">
                <span class="text-gray-400">The update intervals may seem laggy, this is because they are taken at random moments.</span>
            </div>
        </div>
    </div>
</div>

<div class="i-filler-40"></div>